@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1e293b;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.multipleSelection {
  width: 300px;
  background-color: #918f8f;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
    display: none;
    border: 1px #8df5e4 solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
    background-color: #4f615e;
}

.error {
    color: #c44545;
}

.good {
    color: #5fc93eb6;
}
