.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 30px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #0077cc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type='submit']:hover {
    background-color: #005fa3;
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
  }
  
  p a {
    color: #0077cc;
    font-weight: bold;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  