.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    margin: 0 auto;
}

.register-form h2 {
  margin-top: 0;
}

.form-group {
  float: left;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  margin: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 25%;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 25%;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  float: left;
  margin-left: 48%;
}  