.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-header {
    float: left;
    margin-bottom: 40px;
}

.details-header img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.details-header h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
}

.details-header p {
    font-size: 20px;
    margin: 10px 0;
}

.details-header button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.details-body {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-right: 100px;
    padding-top: 100px;
    margin-bottom: 40px;
}

.details-body h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.details-body p {
    font-size: 20px;
    margin: 10px 0;
}

.details-body ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.details-body li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
}

.details-body li span {
    font-weight: bold;
}

.details-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-footer p {
    font-size: 24px;
    margin: 20px 0;
}

.details-footer button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}