.trip-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar label {
    flex-basis: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.search-bar input,
.search-bar select {
    flex-basis: calc(50% - 5px);
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.trip-items {
}


.trip-item {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.trip-item img {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    object-fit: cover;
}

.details h3 {
    margin-top: 0;
}

.details p {
    margin-bottom: 5px;
}

.details p:last-child {
    margin-bottom: 0;
    font-weight: bold;
}