.un {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#67e8f9 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.un:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}
